*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Open sans'; 
}

.contenedor {
    padding:60px 0; 
    width: 90%; 
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font: size 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header*/

header {
    width: 100%; 
    height: 600px;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(279, 67%, 19%, 0.603), hsla(324, 35%, 50%, 0.603)), url(../img/portada.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(279, 67%, 19%, 0.603), hsla(324, 35%, 50%, 0.603)), url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    color: white;
    font-weight:300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover {
    text-decoration: underline;
}

.wave
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-header{
    display: flex;
    height: 430px;
    width:100%;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: white
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: white
}

.contenedor-alojamientos {
    display: flex; 
    justify-content: space-evenly;
}

.img-port-aloja{
    border-radius: 10px;
    width: 48%;
}

.contenedor-alojamientos .contenedor-textaloja{
    width:48%;
}

.contenedor-textaloja h3{
    margin-bottom: 15px;
}

.contenedor-textaloja h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width:30px;
    height:30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    padding: 2px;
    margin-right: 5px;
}

.contenedor-textaloja p{
    padding: 0 0 30px 15px; 
    font-weight: 300;
    text-align: justify;
}

.acerca-aloja{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{ 
    border-radius: 10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.servi_indi{
    width:48%; 
    text-align: center;
    border-radius: 10px;
}

.servi_indi > img{
    width:90%;
    height:90%;
    object-fit: cover;
    display: block;
    justify-content: space-evenly;
    border-radius: 10px;
}

.servi_indi h3 {
    margin: 10px 0;
}

.servi_indi p {
    padding: 0 0 30px 15px; 
    font-weight: 300;
    text-align: justify;
}

.servi_indi button {
    border: none;
    background:#4d0686;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px; 
    color: #fff;
    border-radius: 10px;
}



.servi_indi button:hover{
    text-decoration: underline;
}

.contenedor button{
    border: none;
    background:#4d0686;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px; 
    color: #fff;
    border-radius: 10px;
}
footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foot{
    text-align: center;

}

.content-foot h4{
    color: #fff;
    border-bottom: 1px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 5px;    
}

.content-foot p{
    color: #ccc;    
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #939797
}

